*{
	box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css?family=Sofia&display=swap');

body{
	margin: 0;
	font-family: 'Sofia';
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	color: black;
	text-align: left;
	background-color: grey;
}

.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
	align-items: center;
}

.photo,.details{
	flex:1;
}

@media (max-width: 1500px){
	.row{
		flex-direction: column;

	}
}

h1,p{
	text-align: center;
	margin-top: 0;
}

h1{
	font-size: 4rem;
	margin-bottom: 0.5rem;
}

p{
	margin-bottom: 1rem;
	font-size: 2rem;
}

.photo{
	text-align: left;
	margin-right: 0;
}

.footer{
	text-align: center;
}
.socials{
	margin-top: 10%;
}

.socials i{
	margin: 10px;
	color: black;
}

